html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    font-family: LWhite;
    line-height: 1;
    word-break: keep-all;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: #000;
}

input {
    border: none;
    outline: none;
}

.inner {
    width: 100%;
    padding-right: 3%;
}

.blind {
    display: none !important;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #212121;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::selection {
    background-color: #534cbf;
    color: #fff;
}

/* --------------------- font ---------------------------- */

@font-face {
    font-family: sThin;
    src: url(../source/SpoqaHanSansNeo-Thin.otf);
}

@font-face {
    font-family: sLight;
    src: url(../source/SpoqaHanSansNeo-Light.otf);
}

@font-face {
    font-family: sRegular;
    src: url(../source/SpoqaHanSansNeo-Regular.otf);
}

@font-face {
    font-family: sMedium;
    src: url(../source/SpoqaHanSansNeo-Medium.otf);
}

@font-face {
    font-family: sBold;
    src: url(../source/SpoqaHanSansNeo-Bold.otf);
}